header {
    position: fixed;
    top: 0;
    left: 0;
    height: 56px;
    width: 100%;
    z-index: 100;
    background-color: var(--brand-color);
}

main {
    padding-top: 60px;
}

.icon-picabay{
    position: absolute;
    width: 20%;
    margin-top: 15px;

    @media screen and (min-width: 480px) {
        width: 15%;
    }
}

@keyframes shake {
    from {
        color: var(--brand-color);
    }

    to {
        transform: translateX(-30px);
        color: var(--brand-active-color);
    }
}

.search-form {
    display: flex;
    justify-content: center;
    padding: 10px 10px 10px 0;
}

.searchTerm {
    
    border: 3px solid var(--brand-active-color);
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    }
    .searchTerm:focus{
    color: #380136;
    }

.icon-search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchButton {
    margin-right: 0px;
    border: 1px solid var(--brand-active-color);
    background: var(--brand-active-color);
    text-align: center;
    color: #eeeeee;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.search-form button {
    cursor: pointer;
}

.search-form button:hover{
    background-color: rgb(20, 10, 110);
}